# Entorno
.env
*.local

# Node
node_modules/
dist/
build/

# Python
__pycache__/
*.pyc
venv/
.venv/

# Java
target/
*.class

# IDE / SO
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log

# Next.js
.next/
next-env.d.ts

# TypeScript
*.tsbuildinfo
